/*
 * Empty Stylesheet file.
 */
.btnTab{
    -fx-background-color: #22383d;
}
.btnPlay{
    -fx-border-radius: 5px;
    -fx-border-color:  #727e91;
    -fx-background-color: #0f1a16;
    -fx-background-radius: 5px;
}
.btnPlay-hover {
    -fx-background-color: #384B45;
}
.btnPlay-click{
    -fx-background-color: #21302B;
}
.borderPane {
    -fx-background-color: #22383d;
}

.icon{
    -fx-background-image: url('../img/iconMenu.png');
}

.image{
    -fx-background-image: url("../img/imgMenu.png");
    -fx-background-size: cover;
}

